html,
body {
    width: 100%;
    height: 100%;
}
body {
    margin: 0px;
}

.left-col,
.right-col {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
.left-col {
    border-right: solid thin #ccc;
}
.right-col {
    margin-left: -1px;
}
form label {
    display: block;
}
ul.high-prior {
    border-radius: 7px;
    background-color: #FFD2C4;
    margin: 0px;
    padding: 50px 5px 5px;
    position: relative;
}
ul.norm-prior {
    position: relative;
    border-radius: 7px;
    background-color: #B5EDFF;
    margin: 0px;
    padding: 50px 5px 5px;
}
.name-pr {
    position: absolute;
    top: 5px;
    padding: 5px;
    width: 150px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    text-align: center;
}
li {
    list-style: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    margin: 5px 0px;
}